body {
    background: linear-gradient(-155deg, #121214, #131325, #1a111a, #241624);
	background-size: 1000% 1000%;
	animation: gradient 15s ease infinite;

    color: #ffffff;
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#titlecard {
    display: grid;
    place-items:  center;
    align-content: center;
    min-height: 100vh;
}
#white {
    background: #fffffff1;
    color: #121214;
    padding: 7%;
    box-sizing: border-box;
}
.twitter-timeline {
    width: 300px;
    margin-left: auto; 
}

.left, .right {
    display: inline-block;
    vertical-align: top;
    width: 45%; 
}

#head {
    background: #fffffff1;
    color: #121214;
    padding: 50%;
    margin: 10%;
}

#imgHead {
    float: left;
    padding: 0;
    margin: 10%;
}
